<button class="badge badge-success" (click)="getItems()">Refresh Items</button>

<div class="card" style="width: 50rem;">
    <div class="row" *ngFor="let item of itemsList" [class.selected]="item === selectedItem">
        <div class="col-sm-5" (click)="onSelect(item)"><button class="btn btn-success btn-block">{{item.name}}</button>
        </div>
        <div class="col-sm-2">{{item.price}}$</div>
        <div class="col-sm-2"> <input type="number" class="input" [(ngModel)]="item.fakeQuantity"></div>

    </div>
</div>

<div class="card" style="width: 18rem;" *ngFor="let item of itemsList">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <input type="number" class="input" [(ngModel)]="item.fakeQuantity">
    </div>
</div>
<div>
    <app-billing-list *ngIf="insideSell" [soldItemsList]="soldItemsList" [billTotal]="billTotal">

    </app-billing-list>
</div>