<button class="badge badge-success" (click)="getItems()">Refresh Items</button>

<div class="card" style="width: 50rem;">
    <div class="card" *ngFor="let item of itemsList" [class.selected]="item === selectedItem">
        <div class="card-body">
            <img src="{{item.img}}" class="card-img-top" alt="...">
            <div class="col-sm-5"><button class="card-title"></button>
            </div>
            <span style="font-size: xx-large; width:8rem;background-color: Green;"
                class="badge badge-danger">{{item.price}}$</span>
            <div> <input type="number" class="input" style="font-size: xx-large; width:8rem"
                    [(ngModel)]="item.fakeQuantity" min="0"></div>
            <a class="btn btn-primary" (click)="onSelect(item)">{{item.name}}</a>
        </div>
    </div>
    <div>
        <app-billing-list *ngIf="insideSell" [soldItemsList]="soldItemsList" [billTotal]="billTotal">

        </app-billing-list>
    </div>