<div class="container-fluid shadow text-dark mb-3">
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <div class="row align-middle ">

        <span class="badge badge-secondary w-100 ">
            <h2 style="font-family: monospace;">Add new item</h2>
        </span>
        <img style="background-image: url('https://image.flaticon.com/icons/svg/748/748926.svg');
        padding-left: 225px;
        margin-top: 115px;
        background-repeat: no-repeat;
        background-size: 300px 100px;
          " />

        <div class="col  w-75 ">
            <form class=" justify-content-center m-3 " novalidate>
                <div class="row  ">
                    <div class="form-row m-3 w-100 ">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip01">Item Name :</label>
                            <input type="text" id="name" class="form-control" #nameInput>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip02">Item Price : </label>
                            <input type="number" id="price" class="form-control" min="0" #priceInput>
                        </div>
                        <div class="col-md-4 mb-3">

                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-row m-3 w-100 ">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltipUsername">Item Image Url :</label>
                            <div class="input-group">

                                <input type="text" id="img" class="form-control" #imgInput>

                            </div>
                        </div>

                        <div style="margin-left: 2em;">

                            <input type="checkbox" class="form-control" id="available" #availableInput>
                            <label for="available" class="input-group-text " id="">Item
                                Availability</label>

                        </div>

                    </div>
                </div>
                <div class="row ml-2">
                    <button type="submit" id="saveButton" class="btn btn-success mb-3" (click)="onAddItem()">
                        Save Item
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-item-list></app-item-list>